@import url('https://fonts.googleapis.com/css2?family=Overlock&family=Palanquin&family=Palanquin+Dark&display=swap');

$border-radius: 4px;
$padding-x: 3px;

* {
    font-family: 'Palanquin', sans-serif;
    box-sizing: border-box;
}

:root {
    --border-radius: #{$border-radius};
    --padding-x: #{$padding-x};
}

.month-preview {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    &:hover {
        background-color: #f0f0f0;
    }
}

.month-grid {
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
    gap: 5px;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;

    .day {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center;
        min-height: 110px;

        span {
            font-weight: bold;
            display: block;
            width: 100%;
            background-color: rgba(0,0,0,0.5);
        }

        &[data-style="ovalyneth"],
        &[data-style="indreth"],
        &[data-style="fallaith"],
        &[data-style="jivikath"],
        &[data-style="elayuth"],
        &[data-style="dundavith"],
        &[data-style="nikolyth"],
        &[data-style="meonaith"],
        &[data-style="oriath"],
        &[data-style="allyseith"] {
            padding: 0 var(--padding-x);
            border-radius: var(--border-radius);
        }

        &[data-style="ovalyneth"] {
            color: #f5f3a9;
            background-image: linear-gradient(to right, #3e703d, #a2c34c);
        }

        &[data-style="indreth"] {
            color: #292e28; 
            background-image: linear-gradient(to right, #e6e7d5, #97a884);
        }

        &[data-style="fallaith"] {
            color: #AF4153;
            background-image: linear-gradient(to right, #2C1320, #2C1320);
        }

        &[data-style="jivikath"] {
            color: #3e070d; 
            background-image: linear-gradient(to right, #fd8891, #f9232f);
        }

        &[data-style="elayuth"] {
            color: #d3d4ba; 
            background-image: linear-gradient(to right, #304227, #6cac4d);
        }

        &[data-style="dundavith"] {
            color: #3ea576; 
            background-image: linear-gradient(to right, #111b1e, #2f4c58);
        }

        &[data-style="nikolyth"] {
            color: #4A5A1C; 
            background-image: linear-gradient(to right, #CAD473, #CAD473);
        }

        &[data-style="meonaith"] {
            color: #a6bd9f; 
            background-image: linear-gradient(to right, #536950, #536950);
        }

        &[data-style="oriath"] {
            color: #FFCC33; 
            background-image: linear-gradient(to right, #996515, #DAA520);
        }

        &[data-style="allyseith"] {
            color: #1F2D17; 
            background-image: linear-gradient(to right, #00FF8E, #68DA23);
        }
    }
}

.month {
    display: none;

    &.active {
        display: block;
        padding: 5px;
    }
}
